<div class="bank-border">
    <h2>Bank</h2>
    <table class="material-border">
        <tr>
            <th>Wood</th>
            <th>Brick</th>
            <th>Sheep</th>
            <th>Wheat</th>
            <th>Stone</th>
            <th></th>
            <th>Dev Cards</th>
        </tr>
        <tr>
            <td>{{ getWood() }}</td>
            <td>{{ getBrick() }}</td>
            <td>{{ getSheep() }}</td>
            <td>{{ getWheat() }}</td>
            <td>{{ getStone() }}</td>
            <td></td>
            <td>{{ getDevCards() }}</td>
        </tr>
    </table>
</div>
